*{
    margin: 0;
padding: 0;
font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
    padding: 0;
   
}
a{
    transition:all 0.5s
}
.section-title{
  
    font-size: 2.812rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #05364d;
    margin-bottom: 1.25rem;
    padding-left: 3.125rem;
}
.section-subtitle{
    padding-left: 3.125rem;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.625rem;
    color: #797979;
}
.inline{
    display: inline-block;
}
.cler{
    clear: both;
}
.contenir{
    width: 80%;
    margin: 0 auto;
    display: block;
}
.tu-uppercese{
    text-transform: uppercase;
}

.button{
    border: none;
    background: linear-gradient(to right,#1345e6 0%,#ed239f 51%,#1345e6 100%);
    background-size: 200% auto;
    color:#fff;
    font-size: 0.87 rem;
    padding: 1.25rem 2.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
   
}
.button:hover{
    background-position: center;
    color: #fff;

}
.blur-line{
    display: inline-block;
    position: relative;
    top: -3px;
    margin: left 0.32rem;;
    width: 80px;
    height: 4px;
    background-color:rgba(237,35,159,.6);
    filter:blur(4px);
    border-radius: 3px;
}
.pedding-left{
    padding-left: 0;
}
.main-header{
    position: fixed;
    background-color: #fff;
  width: 100%;
  box-shadow:0 3px 1rem 0 rgba(0,0,0,.1);
  padding-bottom: 0.625rem;
  z-index: 10;
}
.main-header__brand{
    display: inline-block;

   
}
.main-header__brand a{
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.25rem;
    font-weight: 800;
    padding-right: 1.56rem;
     padding-top: 1.25rem;
}

.main-navigation{
    display: inline-block;
    vertical-align: middle;
    margin-left: 6.25rem;
    padding-top: 1.25rem;

}
.main-nav__item{
    display: inline-block;
    padding: 0.625rem;
    transition: all 2s;
}
.main-navigation a{
    color:#05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight:550;
}

.main-navigation a:hover{
    color:#efb6df;
    transition: all 0.5s;
}
.main-navigation .active a{
    color:#efb6df;
}
/*section-footer__style*/
.footer{
    padding:50px 0;
    background-color:#021017;
    text-align: center;
    margin-top: 100px;

}
.footer-brand{
display: inline-block;
color: #fff;
border: 2px solid #555;
border-radius:5px;
padding: 5px 10px;
box-shadow: 1px 1px ;
margin: 50px 0;
background:-webkit-linear-gradient(90deg,#1345e6 0%,#ed239f 100%)
}
.footer-navigation__items{
    margin-bottom: 30px;
}

.footer-navigation__item a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
.footer-navigation__item {
    display: inline-block;
    margin: 10px;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.foorter-social li{
display: inline-block;
padding: 10px;
font-size: 1rem;
background-color: #fff;
border-radius: 50%;
margin-right:  15px;
}
.foorter-social li:hover{
    cursor: pointer;
    background: linear-gradient(
        90deg,#1345e6 0%,#ed239f 100%);
}

.foorter-social i {
    font-size: 1.2rem;
    color: #05364D;
    font-weight: 700;
}
.foorter-social li:hover i{
    color:#fff
}
.foorter-text{
    margin: 60px 0;
    color: #797979;
}
@media only screen and (max-width:991px){
    .contener{
     width: 95%
    } 
     /*navigation*/
    .main-navigation{
        display: none;
    }
    .footer-navigation{
        display: none;
    }
}
@media only screen and (max-width:767px) {
    .contener{
        width: 96%;
    }

}